<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">    
    <ng-container [matColumnDef]="columns.CUSTOMER_NAME">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columns.CUSTOMER_NAME }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[columnMapping[columns.CUSTOMER_NAME]] }} </td>
    </ng-container>

    <ng-container [matColumnDef]="columns.ISSUE_DATE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columns.ISSUE_DATE }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[columnMapping[columns.ISSUE_DATE]] | date:'Y-MM-dd' }} </td>
    </ng-container>

    <ng-container [matColumnDef]="columns.DUE_DATE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columns.DUE_DATE }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[columnMapping[columns.DUE_DATE]] | date:'Y-MM-dd' }} </td>
    </ng-container>

    <ng-container [matColumnDef]="columns.COMMENT">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columns.COMMENT }} </th>
        <td mat-cell *matCellDef="let element"
            [matTooltip]="element[columnMapping[columns.COMMENT]]?.length > 9 ? element[columnMapping[columns.COMMENT]] : ''"
        > {{ element[columnMapping[columns.COMMENT]] | ellipsis:9 }} </td>
    </ng-container>

    <ng-container [matColumnDef]="columns.TOTAL_HUF">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columns.TOTAL_HUF }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[columnMapping[columns.TOTAL_HUF]] | number }} </td>
    </ng-container>

    <ng-container [matColumnDef]="columns.TOTAL_EUR">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columns.TOTAL_EUR }} </th>
        <td mat-cell *matCellDef="let element"> {{ element[columnMapping[columns.TOTAL_EUR]] | number }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
        [routerLink]="['/invoice-entry']" [queryParams]="{ id: row.id }"
    ></tr>
</table>

<mat-progress-bar *ngIf="dataSource.data.length == 0" mode="indeterminate"></mat-progress-bar>
