@import '~@angular/material/theming';
@import "../../theme.scss";

mat-header-row {
    user-select: none;
}

table {
    width: 100%;
}

.mat-row:hover .mat-cell {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: mat-color($my-text, 600);
}