<mat-toolbar color="primary" class="navbar">
    <div class="click-cursor" routerLink="/">Invoices</div>
    <div>
        <button mat-button
            routerLink="/create-invoice" routerLinkActive="mat-flat-button"
        >Create Invoice</button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
