<h1 mat-dialog-title>Create Invoice Item</h1>
<form [formGroup]="itemDialogForm">
    <mat-dialog-content>

        <div class="strip-left">
            <div class="strip-item">
                <mat-form-field appearance="fill">
                    <mat-label>Product Name:</mat-label>
                    <input
                        matInput id="productName" required
                        formControlName="productName"
                    >
                </mat-form-field>
            </div>
        </div>

        <div class="strip-left">

            <div class="strip-item row-padding">
                <mat-form-field appearance="fill">
                    <mat-label>Unit Price (HUF):</mat-label>
                    <input
                        matInput type="number" min=0 id="itemPrice" required
                        formControlName="itemPrice"
                    >
                </mat-form-field>
            </div>
            
            <div class="strip-item">
                <mat-form-field appearance="fill">
                    <mat-label>Quantity:</mat-label>
                    <input
                        matInput type="number" min=0 id="quantity" required
                        formControlName="quantity"
                    >
                </mat-form-field>
            </div>

        </div>

        <div class="total">
            <div class="child">
                <p  class="mat-subheading-2">Total:</p >
                <p  class="mat-title right">{{ (priceSum$ | async)?.HUF | number }}&nbsp;<span class="light">HUF</span></p >
                <p  class="mat-title right">{{ (priceSum$ | async)?.EUR | number }}&nbsp;<span class="light">EUR</span></p >
            </div>
        </div>

    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!itemDialogForm.valid">Create</button>
        <button mat-raised-button color="warn" (click)="onCloseDialog()">Back</button>
    </mat-dialog-actions>
</form>