@import '~@angular/material/theming';
@import "../../theme.scss";

@import "../invoice-entry/invoice-entry.component.scss";

mat-table {
    margin-bottom: 1rem;
}

mat-header-row {
    user-select: none;
}

.center {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.add-item-button {
    margin-top: 0.5rem;
}

mat-card-actions {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.mat-headline {
    width: 100%;
}

.warn {
    color: mat-color($my-warn, 900);
}

.date-warn {
    margin-top: -1rem;
    margin-bottom: 0.5rem;
}

.row-padding {
    margin-right: 1rem;
}