<mat-progress-bar *ngIf="(submitStatus$ | async)?.status === 'submitting'" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="invoiceForm">
    <mat-card class="mat-elevation-z3">

        <mat-card-header>
            <mat-icon mat-card-avatar class="material-icons">
                receipt
            </mat-icon>
            <mat-card-title class="mat-headline">
                Create&nbsp;Invoice
            </mat-card-title>
            <div class="top-right">
                <button
                    mat-mini-fab color="accent" aria-label="Button with a back icon"
                    class="mat-flat-button"
                    [routerLink]="'/'"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>
            <div class="mat-typography strip">

                <div class="strip-item">
                    <span class="light">Date</span>
                    &nbsp;
                    <!-- <span class="">PLACEHOLDER</span> -->
                    <mat-form-field appearance="fill" [color]="invoiceForm.hasError('issueDate_isNotSameOrAfter_dueDate') ? 'warn' : ''">
                        <mat-label>Issue Date:</mat-label>
                        <input matInput [matDatepicker]="datepicker_issued" id="issue-date" formControlName="issueDate" required>
                        <mat-datepicker-toggle matSuffix [for]="datepicker_issued"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker_issued></mat-datepicker>
                    </mat-form-field>
                </div>
            
                &nbsp;
                &nbsp;
                
                <div class="strip-item">
                    <span class="light">Date Due</span>
                    &nbsp;
                    <!-- <span class="">PLACEHOLDER</span> -->
                    <mat-form-field appearance="fill" [color]="invoiceForm.hasError('issueDate_isNotSameOrAfter_dueDate') ? 'warn' : ''">
                        <mat-label>Due Date:</mat-label>
                        <input matInput [matDatepicker]="datepicker_due" id="due-date" formControlName="dueDate" required>
                        <mat-datepicker-toggle matSuffix [for]="datepicker_due"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker_due></mat-datepicker>
                    </mat-form-field>
                </div>

            </div>

            <div class="mat-typography">
                <div class="center date-warn" *ngIf="invoiceForm.hasError('issueDate_isNotSameOrAfter_dueDate')">
                    <small class="warn">Issue date can't be after the due date!</small>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div class="strip">

                <div class="parent strip-item">
                    <div class="child">
                        <p  class="mat-subheading-2 light">Bill to:</p >
                        <!-- <p  class="mat-title">PLACEHOLDER</p > -->
                        <mat-form-field appearance="fill">
                            <mat-label>Bill to:</mat-label>
                            <input matInput id="customer-name" formControlName="customerName" required>
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <!-- <mat-hint>Hint</mat-hint> -->
                        </mat-form-field>
                    </div>
                </div>

                <div class="parent strip-item">
                    <div class="child">
                        <p  class="mat-subheading-2 light">Comment:</p >
                        <!-- <p  class="mat-title">PLACEHOLDER</p > -->
                        <mat-form-field appearance="fill">
                            <mat-label>Comment:</mat-label>
                            <textarea matInput rows="1" id="comment" formControlName="comment"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <mat-divider></mat-divider>

            <mat-table #itemTable [dataSource]="dataSource" matSort class="mat-elevation-z0">
                <ng-container [matColumnDef]="columns.PRODUCT_NAME">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ columns.PRODUCT_NAME }} </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element[columnMapping[columns.PRODUCT_NAME]] }}
                    </mat-cell>
                </ng-container>
                
                <ng-container [matColumnDef]="columns.PRICE_HUF">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ columns.PRICE_HUF }} </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element[columnMapping[columns.PRICE_HUF]] | number }}
                    </mat-cell>
                </ng-container>

                <ng-container [matColumnDef]="columns.QUANTITY">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{ columns.QUANTITY }} </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{ element[columnMapping[columns.QUANTITY]] | number }}
                    </mat-cell>
                </ng-container>

                <ng-container [matColumnDef]="columns.ACTIONS">
                    <mat-header-cell *matHeaderCellDef> {{ columns.ACTIONS }} </mat-header-cell>
                    <mat-cell *matCellDef="let element; let i_row = index;">
                        <div class="item-list-item">
                            <button
                                mat-raised-button color="warn"
                                (click)="removeItem(i_row)"
                            >Remove</button>
                        </div>
                    </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <div class="center">
                <button mat-raised-button color="accent" (click)="addItem()">+ New Item</button>
            </div>

            <mat-divider></mat-divider>

            <div class="total">
                <div class="child">
                    <p  class="mat-subheading-2">Total:</p >
                    <p  class="mat-title right">{{ (priceSum$ | async)?.HUF | number }}&nbsp;<span class="light">HUF</span></p >
                    <p  class="mat-title right">{{ (priceSum$ | async)?.EUR | number }}&nbsp;<span class="light">EUR</span></p >
                </div>
            </div>

            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="onSubmit()"
                    [disabled]="(!invoiceForm.valid) || ((submitStatus$ | async)?.status === 'submitting')"
                >Submit</button>
                <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
            </mat-card-actions>

        </mat-card-content>
    </mat-card>
</form>

<!-- <pre>{{ invoiceForm.value | json }}</pre> -->