/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '~@angular/material' as mat;
@import "~@angular/material/theming";
@import "theme";
@include mat-core();
@include angular-material-theme($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
