@import '~@angular/material/theming';
@import "../../theme.scss";

mat-card {
    margin: 1rem;
    max-width: 600px;
}

mat-card-header {
    color: mat-color($my-primary, 600);
    display: flex;
    align-items: center;
}

mat-card-header .mat-icon {
    height: 36px;
}

mat-card-header .top-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-self: flex-start;
    zoom: 0.75;
}

mat-table {
    margin-bottom: 3rem;
}

mat-header-row {
    user-select: none;
}

.bold {
    font-weight: bold;
}

.light {
    color: mat-color($my-text, 600);
}

.strip {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
}

.strip-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0.5rem 0 0.5rem 0;
}

.strip .strip-item {
    overflow: hidden;
}

.strip-left .strip-item {
    overflow: hidden;
}

.parent {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.parent .child {
    overflow: hidden;
}

.total {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}

.total .child .right {
    text-align: right;
    overflow: hidden;
}