<ng-container *ngIf="(invoice$ | async) as invoice">

    <div *ngIf="invoice.initial; else elseTemplate">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <ng-template #elseTemplate>
        <mat-card class="mat-elevation-z3">
            <mat-card-header>
                <mat-icon mat-card-avatar class="material-icons">
                    receipt
                </mat-icon>
                <mat-card-title class="mat-headline">
                    Invoice
                </mat-card-title>
                <div class="top-right">
                    <button
                        mat-mini-fab color="accent" aria-label="Button with a back icon"
                        class="mat-flat-button"
                        [routerLink]="'/'"
                    >
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                </div>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-content>
                <div class="mat-typography strip">

                    <div class="strip-item">
                        <span class="light">Date</span>
                        &nbsp;
                        <span class="">{{ invoice.value?.issueDate | date:'Y-MM-dd' }}</span>
                    </div>
                
                    &nbsp;
                    &nbsp;
                    
                    <div class="strip-item">
                        <span class="light">Date Due</span>
                        &nbsp;
                        <span class="">{{ invoice.value?.dueDate | date:'Y-MM-dd' }}</span>
                    </div>

                    &nbsp;
                    &nbsp;

                    <div class="strip-item">
                        <span class="light">Invoice #</span>
                        &nbsp;
                        <span class="">{{ invoice.value?.id }}</span>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="strip">

                    <div class="parent strip-item">
                        <div class="child">
                            <p  class="mat-subheading-2 light">Bill to:</p >
                            <p  class="mat-title">{{ invoice.value?.customerName }}</p >
                        </div>
                    </div>

                    <div class="parent strip-item">
                        <div class="child">
                            <p  class="mat-subheading-2 light">Comment:</p >
                            <p  class="mat-title">
                                {{ invoice.value?.comment ?? '&nbsp;' }}
                            </p >
                        </div>
                    </div>

                </div>

                <mat-divider></mat-divider>

                <mat-table #itemTable [dataSource]="dataSource" matSort class="mat-elevation-z0">
                    <ng-container [matColumnDef]="columns.PRODUCT_NAME">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ columns.PRODUCT_NAME }} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element[columnMapping[columns.PRODUCT_NAME]] }} </mat-cell>
                    </ng-container>
                
                    <ng-container [matColumnDef]="columns.QUANTITY">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ columns.QUANTITY }} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element[columnMapping[columns.QUANTITY]] | number }} </mat-cell>
                    </ng-container>
                
                    <ng-container [matColumnDef]="columns.PRICE_HUF">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ columns.PRICE_HUF }} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element[columnMapping[columns.PRICE_HUF]] | number }} </mat-cell>
                    </ng-container>
                
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                    ></mat-row>
                </mat-table>

                <mat-divider></mat-divider>

                <div class="total">
                    <div class="child">
                        <p  class="mat-subheading-2">Total:</p >
                        <p  class="mat-title right">{{ invoice.value?.priceHuf | number }}&nbsp;<span class="light">HUF</span></p >
                        <p  class="mat-title right">{{ invoice.value?.priceEur | number }}&nbsp;<span class="light">EUR</span></p >
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-template>
</ng-container>